@import '@fontsource/numans';
@import '@fontsource/ruluko';
@import '@fontsource/cantarell/700.css';

html {
	/* font */
	--font-system-ui: 'Atkinson Hyperlegible', sans-serif;
	--font-monospace-code: 'JetBrains Mono', monospace;

	/* dark */
	--brand-dark: var(--orange-3);
	--text-1-dark: var(--gray-3);
	--text-2-dark: var(--gray-5);
	--surface-1-dark: var(--gray-12);
	--surface-2-dark: var(--gray-11);
	--surface-3-dark: var(--gray-10);
	--surface-4-dark: var(--gray-9);
	--background-dark: var(--gradient-8);
	--border-dark: var(--gray-9);
	--btn-color-dark: #00adb5;
	--txt-color-dark: #dedede;
	--heading-color-dark: #a2f3f3;
	--project-card-color-dark: #111827;
	--strong-color-dark: #f2e9e4;
	--sphere-1-dark: #6eccee;
	--sphere-2-dark: #ffdc99;
	--sphere-3-dark: #e3a4d0;
	--sphere-4-dark: #d455ff;
	--page-background-dark: var(--gradient-16);

	/* light */
	--brand-light: var(--orange-10);
	--text-1-light: var(--gray-8);
	--text-2-light: var(--gray-7);
	--surface-1-light: var(--gray-0);
	--surface-2-light: var(--gray-1);
	--surface-3-light: var(--gray-2);
	--surface-4-light: var(--gray-3);
	--background-light: none;
	--border-light: var(--gray-4);
	--btn-color-light: #007e86;
	--txt-color-light: #2b2f36;
	--heading-color-light: #00636b;
	--project-card-color-light: #f3f6f7;
	--strong-color-light: #14181d;
	--sphere-1-light: #1c93b0;
	--sphere-2-light: #d98f2b;
	--sphere-3-light: #b5568f;
	--sphere-4-light: #8a2bb5;
	--page-background-light: #f5f5f0;
}

:root {
	color-scheme: dark;

	--brand: var(--brand-dark);
	--text-1: var(--text-1-dark);
	--text-2: var(--text-2-dark);
	--surface-1: var(--surface-1-dark);
	--surface-2: var(--surface-2-dark);
	--surface-3: var(--surface-3-dark);
	--surface-4: var(--surface-4-dark);
	--background: var(--background-dark);
	--border: var(--border-dark);
	--btn-color: var(--btn-color-dark);
	--txt-color: var(--txt-color-dark);
	--heading-color: var(--heading-color-dark);
	--project-card-color: var(--project-card-color-dark);
	--strong-color: var(--strong-color-dark);
	--sphere-1: var(--sphere-1-dark);
	--sphere-2: var(--sphere-2-dark);
	--sphere-3: var(--sphere-3-dark);
	--sphere-4: var(--sphere-4-dark);
	--page-background: var(--page-background-dark);
}

@media (prefers-color-scheme: light) {
	:root {
		color-scheme: light;

		--brand: var(--brand-light);
		--text-1: var(--text-1-light);
		--text-2: var(--text-2-light);
		--surface-1: var(--surface-1-light);
		--surface-2: var(--surface-2-light);
		--surface-3: var(--surface-3-light);
		--surface-4: var(--surface-4-light);
		--background: var(--background-light);
		--border: var(--border-light);
		--btn-color: var(--btn-color-light);
		--txt-color: var(--txt-color-light);
		--heading-color: var(--heading-color-light);
		--project-card-color: var(--project-card-color-light);
		--strong-color: var(--strong-color-light);
		--sphere-1: var(--sphere-1-light);
		--sphere-2: var(--sphere-2-light);
		--sphere-3: var(--sphere-3-light);
		--sphere-4: var(--sphere-4-light);
		--page-background: var(--page-background-light);
	}
}

[color-scheme='dark'] {
	color-scheme: dark;

	--brand: var(--brand-dark);
	--text-1: var(--text-1-dark);
	--text-2: var(--text-2-dark);
	--surface-1: var(--surface-1-dark);
	--surface-2: var(--surface-2-dark);
	--surface-3: var(--surface-3-dark);
	--surface-4: var(--surface-4-dark);
	--background: var(--background-dark);
	--border: var(--border-dark);
	--btn-color: var(--btn-color-dark);
	--txt-color: var(--txt-color-dark);
	--heading-color: var(--heading-color-dark);
	--project-card-color: var(--project-card-color-dark);
	--strong-color: var(--strong-color-dark);
	--sphere-1: var(--sphere-1-dark);
	--sphere-2: var(--sphere-2-dark);
	--sphere-3: var(--sphere-3-dark);
	--sphere-4: var(--sphere-4-dark);
	--page-background: var(--page-background-dark);
}

[color-scheme='light'] {
	color-scheme: light;

	--brand: var(--brand-light);
	--text-1: var(--text-1-light);
	--text-2: var(--text-2-light);
	--surface-1: var(--surface-1-light);
	--surface-2: var(--surface-2-light);
	--surface-3: var(--surface-3-light);
	--surface-4: var(--surface-4-light);
	--background: var(--background-light);
	--border: var(--border-light);
	--btn-color: var(--btn-color-light);
	--txt-color: var(--txt-color-light);
	--heading-color: var(--heading-color-light);
	--project-card-color: var(--project-card-color-light);
	--strong-color: var(--strong-color-light);
	--sphere-1: var(--sphere-1-light);
	--sphere-2: var(--sphere-2-light);
	--sphere-3: var(--sphere-3-light);
	--sphere-4: var(--sphere-4-light);
	--page-background: var(--page-background-light);
}

html,
body {
	height: 100%;
}

html {
	color: var(--text-1);
	accent-color: var(--link);
	background-image: var(--background);
	background-attachment: fixed;
}

img {
	border-radius: var(--radius-3);
}

ul,
ol {
	list-style: none;
	padding: 0;
}

li {
	padding-inline-start: 0;
}

.surface-1 {
	background-color: var(--surface-1);
	color: var(--text-2);
}

.surface-2 {
	background-color: var(--surface-2);
	color: var(--text-2);
}

.surface-3 {
	background-color: var(--surface-3);
	color: var(--text-1);
}

.surface-4 {
	background-color: var(--surface-4);
	color: var(--text-1);
}

.prose {
	p {
		:not(:is(h2, h3, h4, h5, h6) + p) {
			margin-top: var(--size-7);
		}

		/* ignore paragraph tag around images */
		&:has(img) {
			display: contents;
		}
		color: var(--txt-color);
		font-family: "Numans", sans-serif;
	}

	:is(h1, h2, h3, h4, h5, h6) {
		margin-top: var(--size-8);
		margin-bottom: var(--size-3);
		color: var(--heading-color);
		font-family: 'Cantarell', sans-serif;
	}

	:is(ul, ol) {
		list-style-type: '✅';
		padding-left: var(--size-5);
		font-family: "Numans", sans-serif;
	}

	:is(ul, ol) li {
		margin-block: var(--size-2);
		padding-inline-start: var(--size-2);
	}

	pre {
		max-inline-size: 100%;
		padding: var(--size-3);
		margin: 2rem 0 2rem 0;
		border-radius: 8px;
		tab-size: 2;
	}
}